@page
@model ListModel
@{
}

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            @*asp-for works like setting value to SearchTerm and name but says this input is for the following
                property you will find on the model using asp-for keeps us from having to says Model.SearchTerm
                it says the name and value (almost like two way data binding) works for the input and the output
                *@
            <input type ="search" class= "form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>

    </div>
</form>

@*@ sign allows for transistion between a C# expression or a C# code block *@

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                @* link with text *@
                <a class="btn btn-lg"
                   @*href="/Restaurants/Detail?restaurantId=@restaurant.Id"  <<
                       the above would work but going with a method that users tag helpers*@
                   asp-page="./Detail" 
                   asp-route-restaurantId="@restaurant.Id"
                   >
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-lg"
                   @*href="/Restaurants/Detail?restaurantId=@restaurant.Id"  <<
                       the above would work but going with a method that users tag helpers*@
                   asp-page="./Edit"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Add New</a>

<div>@Model.Message</div>
